@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VCROSDMono";
  src: url("../VCR_OSD_MONO_1.001.ttf");
}

:root {
  background-color: black;
  list-style: none;
  font-family: 'VCROSDMono';
}